<%include ../partials/header.ejs%>
<div class="balance-navbar">
    <div class="panel panel-default" id="member-hobby-list">
        <div class="panel-heading">
            <div class="text-center">
                <h2>Followed Hobbies</h2>
            </div>
        </div>
        <div class="panel-body">
            <table class="table table-striped" >
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Cost</th>
                    <th>Time Commitment</th>
                    <th>Solo</th>
                    <th>Travel Required</th>
                    <th></th>
                </tr>

                <% var i = 1; hobbies.forEach(function(hobby){ %>
                <tr>
                    <td>
                        <%=i %>
                    </td>
                    <td>
                        <a href="/h/<%=hobby.name%>"><%=hobby.name%></a>
                    </td>
                    <td>
                        Cost
                    </td>
                    <td>
                        <%=hobby.time%>
                    </td>
                    <td>
                        <%if(hobby.solo){ %>
                        <img src="/images/person.png" width="20%">
                        <%} else {%>
                        <img src="/images/people.png" width="20%">
                        <%}%>
                    </td>
                    <td>
                        <%if(hobby.transport){ %>
                        <img src="/images/car.png" width="20%">
                        <%} else {%>
                        <img src="/images/house.png" width="20%">
                        <%}%>
                    </td>
                    <td>
                        <form id="unfollowHobby">
                            <input type="hidden" name="hobbyId" id="hobbyId" value="<%=hobby.id%>">
                            <input type="submit" value="unfollow" class="btn btn-danger" id="unfollowHobbyInput">
                        </form>
                    </td>
                </tr>
                <%i++;})%>
            </table>
        </div>
    </div>


</div>

<%include ../partials/sticky-footer.ejs%>
