<%include ../partials/header.ejs%>

<%if (!currentUser){%>
<%include ../partials/loginpls.ejs%>
<%} else {%>

<table class="table table-striped" id="member-hobby-list">
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Cost</th>
        <th>Time Commitment</th>
        <th>Solo</th>
        <th>Travel Required</th>
        <th>Followers</th>
    </tr>

    <% var i = 1; hobbies.forEach(function(hobby){ %>
    <tr>
        <td>
            <%=i %>
        </td>
        <td>
            <a href="/h/<%=hobby.name%>"><%=hobby.name%></a>
        </td>
        <td>
            Cost
        </td>
        <td>
            <%=hobby.time%>
        </td>
        <td>
            <%=hobby.solo%>
        </td>
        <td>
            <%=hobby.transport%>
        </td>
        <td>
            Followers
        </td>
    </tr>
    <%i++;})%>

</table>

<%}%>
<%include ../partials/footer.ejs%>
