<%include ../partials/header.ejs%>
<div class="row">
    <div class="col-md-8 hobby-article">
        <div class="hobby-header">
            <div class="header-overlay">
                <h1><%=fullHobby.name%></h1>
                <p><%=fullHobby.shortDesc%></p>
            </div>
            <img src="<%=fullHobby.link%>" width="100%">
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12 hobby-stats">
                <div class="col-md-5 hobby-quote">
                    <p><%=fullHobby.quotes%></p>
                </div>
                <div class="col-md-2 hobby-stats-short">
                    <ul>
                        <li>Time: <%=fullHobby.time%></li>
                        <li>Transport: <%=fullHobby.transport%></li>
                        <li>Solo: <%=fullHobby.solo%></li>
                    </ul>
                </div>
                <div class="col-md-5 hobby-stats">
                    <p>Equipment</p>
                </div>
            </div>
        </div>
        <article class="hobby-text-article">
            <h2>Article</h2>
            <p>Cronut chia street art gastropub, letterpress chambray affogato put a bird on it keytar.
                Church-key keytar blog, everyday carry sriracha +1 viral microdosing. Authentic franzen kinfolk tousled wolf paleo.
                Neutra tilde try-hard kombucha, locavore chartreuse plaid street art tote bag drinking vinegar knausgaard godard
                kitsch cray meh. IPhone shabby chic waistcoat, schlitz squid pabst flannel tumblr green juice keffiyeh
                umami keytar vegan. Everyday carry knausgaard kitsch, meggings taxidermy mustache chillwave skateboard
                godard. Salvia bicycle rights 90's trust fund, chillwave meditation gluten-free deep v iPhone flannel
                cornhole green juice kinfolk ethical portland.</p>

             <p>Blog kogi gluten-free, cliche you probably haven't heard of them semiotics gentrify VHS 90's. Four
                dollar toast health goth readymade, everyday carry vice blue bottle tumblr whatever venmo polaroid VHS
                yr beard kogi cronut. Bespoke locavore slow-carb affogato. Literally ethical ennui cardigan fixie hella.
                Dreamcatcher tattooed shabby chic, helvetica tote bag DIY farm-to-table gastropub echo park pop-up iPhone
                sriracha fanny pack artisan brunch. Gentrify tumblr venmo, franzen tousled cornhole truffaut banjo biodiesel.
                Beard neutra tilde migas, scenester narwhal pour-over intelligentsia mlkshk swag tousled iPhone hoodie.</p>
            <p>Cronut chia street art gastropub, letterpress chambray affogato put a bird on it keytar.
                Church-key keytar blog, everyday carry sriracha +1 viral microdosing. Authentic franzen kinfolk tousled wolf paleo.
                Neutra tilde try-hard kombucha, locavore chartreuse plaid street art tote bag drinking vinegar knausgaard godard
                kitsch cray meh. IPhone shabby chic waistcoat, schlitz squid pabst flannel tumblr green juice keffiyeh
                umami keytar vegan. Everyday carry knausgaard kitsch, meggings taxidermy mustache chillwave skateboard
                godard. Salvia bicycle rights 90's trust fund, chillwave meditation gluten-free deep v iPhone flannel
                cornhole green juice kinfolk ethical portland.</p>

            <p>Blog kogi gluten-free, cliche you probably haven't heard of them semiotics gentrify VHS 90's. Four
                dollar toast health goth readymade, everyday carry vice blue bottle tumblr whatever venmo polaroid VHS
                yr beard kogi cronut. Bespoke locavore slow-carb affogato. Literally ethical ennui cardigan fixie hella.
                Dreamcatcher tattooed shabby chic, helvetica tote bag DIY farm-to-table gastropub echo park pop-up iPhone
                sriracha fanny pack artisan brunch. Gentrify tumblr venmo, franzen tousled cornhole truffaut banjo biodiesel.
                Beard neutra tilde migas, scenester narwhal pour-over intelligentsia mlkshk swag tousled iPhone hoodie.</p>
        </article>
    </div>
    <div class="col-md-3 indiv-hobby-feed">
        <h3>Feed</h3>
        <p>asfd</p>
        <hr>
        <p>asdf</p>
        <hr>
    </div>
</div>
<%include ../partials/footer.ejs%>